.overlay {
  display: grid;
  place-items: center;
}

.modal {
  width: min(90%, 500px);
  padding: 30px;
  border-radius: 8px;
  pointer-events: none;
  transition: opacity 250ms ease;
  opacity: 0;
}

.modalVisible {
  composes: modal;
  pointer-events: all;
  background-color: var(--surface);
  opacity: 1;
}