.drawer {
  background-color: var(--surface);
  position: fixed;
  left: 0;
  width: min(70%, 400px);
  height: 100vh;
  transition: transform 200ms ease;
  transform: translateX(-100%);
}

.drawer.active {
  transform: translateX(0);
}

.closeButtonContainer {
  display: flex;
  justify-content: flex-end;
  padding: 6px;
}

.closeButton {
  display: grid;
  place-items: center;
}