.page {}

.pageTitle {
  font-size: 24px;
}

.broadDetails {
  text-align: center;
  margin-top: 20px;
  gap: 16px;
}

.broadDetailsText {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.broadDetailsText .key {
  font-size: 18px;
}

.broadDetailsText .value {
  margin-top: 12px;
}

.actions {
  padding: 12px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.action {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  transition: background-color 250ms ease;
  cursor: pointer;
}

.actionName {
  transition: color 250ms ease;
}

.action:hover {
  background-color: var(--highlight);
}

.action:hover .actionName {
  color: var(--onHighlight);
}

.bottomSheetContent {
  padding: 20px;
  margin: 0 auto;
  height: 100%;
  overflow-y: scroll;
}

.bottomSheetTitle {
  text-align: center;
}

.bottomSheetButtonContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: var(--surface);
  border-top: 1px rgb(158, 162, 162) solid;
  text-align: center;
}

.bottomSheetDismissButton {
  background-color: var(--highlight);
  color: var(--onHighlight);
  width: min(100%, 400px);
  font-size: 20px;
  padding: 8px 0;
  border-radius: 8px;
  transition: background-color 250ms ease;
}

.bottomSheetDismissButton:hover {
  background-color: var(--highlightMid);
}

.list {
  max-width: 600px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-bottom: 200px;
}

.tile {
  padding: 24px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: 700px) {
  .pageBody {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .broadDetails {
    flex: 1;
    margin-top: 0;
  }

  .actions {
    flex: 1;
  }
}