.page {}

.pageTitle {
  font-size: 24px;
}

.broadDetails {
  text-align: center;
  margin-top: 20px;
  gap: 16px;
}

.broadDetailsText {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.broadDetailsText .key {
  font-size: 18px;
}

.broadDetailsText .value {
  margin-top: 12px;
}

.actions {
  padding: 12px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.action {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  transition: background-color 250ms ease;
  cursor: pointer;
}

.actionName {
  transition: color 250ms ease;
}

.action:hover {
  background-color: var(--highlight);
}

.action:hover .actionName {
  color: var(--onHighlight);
}

@media screen and (min-width: 700px) {
  .pageBody {
    display: flex;
    justify-content: space-around;
  }

  .broadDetails {
    flex: 1;
  }

  .actions {
    flex: 1;
  }
}