.databaseDetail {
  display: flex;
  gap: 10px;
  width: 100%;
}

.name {
  width: 70px;
}

.value {
  flex: 1;
  /* Prevent text from wrapping */
  overflow: hidden;
  /* Hide the overflowing text */
  text-overflow: ellipsis;
}

.name,
.value {
  font-size: 15px;
}