* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  --primary: #ff3d00;
  --onPrimary: white;
  --surface: white;
  --highlight: rgb(31, 162, 189);
}

* {
  --navHeight: 50px;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}