.menuButton {
  background-color: transparent;
  width: 45px;
  height: 45px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.line {
  background-color: var(--onPrimary);
  width: 80%;
  height: 4px;
  border-radius: 6px;
}